# Learning Python using Jupyter Notebook
#### In this notebook we'll be covering:
1. Variables
2. Datatypes
    * Integer
    * String
    * Boolean
    * List
    * Tuple
    * Set
    * Float
3. Conditions
    * if
    * else
4. Loops
    * for
    * while
5. Functions

### Variables

In [5]:
my_var = "hello world"

In [6]:
print(my_var)

hello world

In [7]:
type(my_var)

str

### Datatypes

In [9]:
# declaring a variable
variable_name = 'variable value'
type(variable_name) # Showing the datatype
print(variable_name)

variable value

In [10]:
# type casting - converting types
bool_var = True
print(bool_var)
converter_bool = bool(1)
print(converter_bool)

True
True

In [18]:
# lists
list_var = [1,2,3,4,5,6,1,2]
type(list_var)

list

In [15]:
# tuples IMMUTABLE(cant change values)
tuple_var = (1,2,3,4,5,6)
type(tuple_var)

tuple

In [16]:
# Set IMMUTABLE, cant contain duplicates - can be used to typecast a list / tuple to get rid of duplicates
set_var = {1,2,3,4,5,6}
type(set_var)

set

In [20]:
list(set(list_var))

[1, 2, 3, 4, 5, 6]

In [24]:
# Dictonary
person = {'name': "My Name", 'age': 30, 'height': "180cm"}
person['name']

'My Name'

### Conditions and Loops

In [9]:
# If & elif & else statements
age = 26
if age > 25: # check this
    print('you are', age, 'meaning you are past your mid twenties!')
elif age == 25: # otherwise check this
    print('right on the money')
else: # if all else fails, do this
    print('you are', age, 'meaning you are yound and beatuiful')

you are 26 meaning you are past your mid twenties!

In [18]:
# for loops, break, pass, continue statements
# in this example we loop through the ages list, once we have a 25 y/o we stop the run
ages = [26, 24, 21, 29, 25, 30, 27]
for age in ages: 
    if age < 25: # check this
        print('you are', age, 'meaning you are young and beatuiful')
        continue # go to the next item on the list
    elif age == 25: # otherwise check this
        print('right on the money')
        break # stops the loop
    else: # if all else fails, do this
        pass # pass this item on the list

you are 24 meaning you are young and beatuiful
you are 21 meaning you are young and beatuiful
right on the money

In [21]:
# range loop - looping through a specific number of times
for idx in range(3):
    print(idx)

0
1
2

In [25]:
# while loop
launched_shuttles = 0
total_shuttles = 6

while True:
    print('shuttle {} has been launched'.format(launched_shuttles+1))
    launched_shuttles += 1
    
    if launched_shuttles == total_shuttles:
        print('all shuttles launched')
        break # break out when all shuttles launched

shuttle 1 has been launched
shuttle 2 has been launched
shuttle 3 has been launched
shuttle 4 has been launched
shuttle 5 has been launched
shuttle 6 has been launched
all shuttles launched

In [32]:
# looping through keys and values in dictonaries
astronaut = {'name': 'Elon Musk', 'age':38, 'height': 184}
# for key in astronaut.keys():
#     print(key)
    
# for value in astronaut.values():
#     print(value)
    
for key, value in astronaut.items():
    print(key, value)

name Elon Musk
age 38
height 184

### Functions

In [2]:
# defining a function
def welcome():
    print('Welcome to the Launchpad')
# calling a function
welcome()

Welcome to the Launchpad

In [6]:
# a function can accepts arguments
names = ["Josh", "Bill", "Irine"]
ships = ["SS Voyager", "Sky Reaper", "Pink Lady"]
def custom_welcome(name, ship):
    print('Welcome {} to the {}'.format(name, ship))
    
for idx, name in enumerate(names):
    ship = ships[idx]
    custom_welcome(name, ship)

Welcome Josh to the SS Voyager
Welcome Bill to the Sky Reaper
Welcome Irine to the Pink Lady